
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Index Sayfası

        <a href="/home/hakkimzida?ad=nur&soyad=ozturk&yas=30">Hakkımızda sayfasına git</a> @* hakkimizda sayfasına giderken yanında şu bilgileri de götür... key = value*@ 
    </div>
</body>
</html>
